<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

menu_text_links {
    text-align: center;
    display: inline-block;
}

ul {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul li {
		display: inline;
        padding-left: 10px;
        padding-right: 10px;
	}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <header class="menu">
        <div class="menu_text_links">
            <ul class="menu_list">
       
          
                <li class="item">
                      <a href="../test/flpSandbox.html?sap-ui-xx-viewCache=false#studentcomp-display">
                        Home			             
                     </a>
                </li>
                
                <li class="item">
                    <a href="Course.html" >
                        Courses
                    </a>
                </li>
                      
                <li class="item">
                    <a href="points.html" >
                        Points
                    </a>
                </li>
                      
                    
                      
                <li class="item">
                    <a href="" >
                        Settings
                    </a>
                </li>
                  
                

              </ul>
        </div>
        

</header>
    <br>

<h2>This Months Top Interns!</h2>

<br>
<br>

<table>
  <tr>
    <th>Intern Name</th>
    <th>Points</th>
    <th>Team</th>
  </tr>
  <tr>
    <td>Daniel Croft</td>
    <td>100</td>
    <td>BW</td>
  </tr>
  <tr>
    <td>Sinead Carey</td>
    <td>85</td>
    <td>SDE</td>
  </tr>
  <tr>
    <td>Sven Beta Biansumba</td>
    <td>70</td>
    <td>Platform & Extensions</td>
  </tr>
  <tr>
    <td>Michael Bunea</td>
    <td>70</td>
    <td>...</td>
  </tr>
  <tr>
    <td>John Quinless</td>
    <td>50</td>
    <td>Application Extensions</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>30</td>
    <td>Italy</td>
  </tr>
</table>
</body>
</html>