<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
<style>

    body {
        padding-bottom: 50px;
    }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

header {
    background-color: gray;
}

menu_text_links {
    text-align: center;
    display: inline-block;
}

ul {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    padding-bottom: 20px;
	}
	ul li {
		display: inline;
        padding-left: 20px;
        padding-right: 20px;
	}
    li a {
        color: white;
    }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <header class="menu">
        <div class="menu_text_links">
            <ul class="menu_list">
       
          
                <li class="item">
                      <a href="../test/flpSandbox.html?sap-ui-xx-viewCache=false#studentcomp-display">
                        Home			             
                     </a>
                </li>
                
                <li class="item">
                    <a href="Course.html" >
                        Courses
                    </a>
                </li>
                      
                <li class="item">
                    <a href="points.html" >
                        Points
                    </a>
                </li>
                      
                    
                      
                <li class="item">
                    <a href="" >
                        Settings
                    </a>
                </li>
                  
                

              </ul>
        </div>
        

</header>
    <br>
    <div class="card">
        
        <h1>Welcome Daniel Croft!</h1>
        <br>
        <img src ="../images/download.jpeg" alt="" style="width:10%">
        <br>
        <p class="title">Developer</p>
        <p>Technological University Dublin </p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
      </div>
    <br><br><br>
<a>
    Here are a list of your Active Courses followed by a list of your Completed Courses:
</a>

<br><br>

<h2>Active Courses</h2>

<table>
  <tr>
    <th>Course</th>
    <th>Points</th>
    <th>Start Date</th>
    <th>Mark as Completed</th>
    <th>Cancel</th>
  </tr>
  <tr>
    <td <p><a href="https://help.sap.com/learning-journeys/c4fcae2e2b7645109ab3315e8a7a6b10?IDs=show">	
        SAP Data Warehouse Cloud </a></p></td>
    <td>10 </td>
    <td> 01/08/22</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>5</td>
    <td>20-09-2024</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>9</td>
    <td>in progress</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>6</td>
    <td>09/11/2023</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>8</td>
    <td>08-09-23</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
    <td><a href="">Mark as Completed</a></td>
    <td><a href="">Cancel</a></td>
  </tr>
</table>


<br><br><br>


<h2>Completed Courses</h2>

<table>
  <tr>
    <th>Course</th>
    <th>Points</th>
  </tr>
  <tr>
    <td <p><a href="https://help.sap.com/learning-journeys/c4fcae2e2b7645109ab3315e8a7a6b10?IDs=show">	
        SAP Data Warehouse Cloud </a></p></td>
    <td>10 </td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>5</td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>9</td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>6</td>
  </tr>
  <tr>
    <td>link to course...</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
  </tr>
</table>
</body>
</html>